@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom styles here too */
/* underline hover effect */
.hover-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #7e22ce; /* purple-700 */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
